/* Original inspiration from J. Vengel (http://codepen.io/JbvGaming/pen/cHxzm) */

@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html,
body {
  height: 100%;
  /* Deprecated syntax, but necessary for WebKit-based/old browsers */
  background: linear-gradient(left, #F0EDBB, #FFFCC4, #F0EDBB);
  /* New syntax for standards-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards) without prefix */
  background: linear-gradient(to right, rgba(207, 201, 218, 0.2), rgba(202, 227, 218, 0.68), rgba(164, 160, 167, 0.3)) repeat scroll 0% 0% transparent);
}

h1,h2,h3,h4,p,ul {font-family: "Lora";}
cite{font-style: italic;}

/*NAVIGATION*/
#navigation {
  background: #00585F;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a {
  color: #F0EDBB;
  font-family: "Lora";
}
.navbar-default .navbar-brand:hover { color: #FFF; font-size: 22.5px; }
.navbar-default .navbar-nav > li > a:hover { color: #FFF; font-size: 18px; }
.navbar-default .navbar-brand { font-size: 22px; }
.navbar-default .navbar-nav > li > a { font-size: 16px; }

.wrapper {
  width: 90%;
  margin: 50px 0px 0px 50px;
  position: Relative;
  font-family: "Lora";
  line-height: 1;
}
#mobile-nav {display: none;}
.inner-rows {margin-bottom: 10px;}
.appt-container{margin-left: 12px;}
.left-heading,.left-uni-heading,.left-subheading {
  display: block;
  text-align: right;
  font-family: "Lora";
  letter-spacing: 0px;
  width:100%;
}
.left-heading {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25;
}
.left-uni-heading {
  font-size: 14px;
  line-height: 1.25;
}
.left-subheading {
  text-transform: lowercase;
  font-style: italic;
  font-size: 14px;
  line-height: 1.65;
}

/*=================================
  TEXT
  ===============================*/
h1,h3 {margin:0;padding:0 0 12px 0;font-style: normal;}
h3 {font-size: 16px;}
h3.with-h4 {padding:0px;margin:0px;}
h4 {font-size: 14px;font-style: italic;}
h2 {margin:0;padding-bottom:12px;font-style: normal;}
h2 {font-size: 16px; font-family: "Lora";}
h2.name-header{font-size: 20px;}
ul { list-style-type: none;margin: -10px 0 0 -42px; }
  .cvline li {
    max-width: 100%;
    margin:0;
    padding: 0px 0px 5px 15px;
  }
  .right-sub-list-item {
    margin-top: 20px;
  }
.indent {list-style-type: none;margin: -10px 0 10px -20px;line-height: 1.5;}
.indent-margin-fix {list-style-type: none;margin: 10px 0 0 -20px;line-height: 1.5;}
.parent-list {line-height: 1.5;}
.margin-list-fix {line-height: 2;}
.inner-child { padding: 10px 0px 20px 3px; }
.inner-span:hover {text-decoration: underline;}
.name {
  color: #9bc5de;
}
.education,
.publications {
  color: #90b3c9;
}
.presentations,
.service {
  color: #809bb0;
}
.grants {
  color: #6b7b8a;
}
.appointments {
  color: #8b8091;
}
.awards,
.affiliations {
  color: #b68fa2;
}
.languages,
.proficiencies {
  color: #d99ab5;
}
.name {
  font-size: 6.3em;
}
.education {
  font-size: 4.8em;
}
.publications {
  font-size: 6.4em;
}
.presentations {
  font-size: 6em;
}
.service {
  font-size: 5.5em;
}
.grants {
  font-size: 5em;
}
.appointments {
  font-size: 4.8em;
}
.affiliations {
  font-size: 4.2em;
}
.awards {
  font-size: 4em;
}
.languages {
  font-size: 3.8em;
}
.proficiencies {
  font-size: 4em;
}

/*=================================
  IMAGES
  ===============================*/
.profile {
  border-radius: 100px;
  padding-bottom: 10px;
}

/*FOOTER*/
footer {
  min-height: 50px;
  margin-top: 10px;
  background: #00585F;
  color: #F0EDBB;
  font-family: "Lora";
}

@media screen and (max-width: 1024px){ 
  
}

@media screen and (max-width: 979px){ 
  .left-heading,.left-subheading {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px){ 
  .left-heading,.left-subheading {
    text-align: left;
  }
}

@media screen and (max-width: 767px){ 
  .left-heading,.left-subheading {
    text-align: left;
  }
}

/* phone landscape view */
@media screen and (min-width: 480px) and (max-width: 600px){ 
  .wrapper {
    margin: 0px;
    position: Relative;
  }
  .left-heading,.left-subheading {
    text-align: left;
  }
}

/* phone portrait view */
@media screen and (max-width: 550px){
  .wrapper {
    margin: 0px;
    position: Relative;
  }
  .left-heading,.left-subheading {
    text-align: left;
  }
  .name {
    font-size: 4.3em;
  }
  .education {
    font-size: 2.8em;
  }
  .publications {
    font-size: 4.4em;
  }
  .presentations {
    font-size: 4em;
  }
  .service {
    font-size: 3.5em;
  }
  .grants {
    font-size: 3em;
  }
  .appointments {
    font-size: 2.8em;
  }
  .affiliations {
    font-size: 2.2em;
  }
  .awards {
    font-size: 2em;
  }
  .languages {
    font-size: 1.8em;
  }
  .proficiencies {
    font-size: 2em;
  }
}
