
{% if user == current_user %}
  <!-- { if user.cv._____.exists() } -->
  <div id="my-pubs-cred-child1" class="inner-child">
    <h2 class="inner-span">publications</h2>
    <div id="real-pubs-child">
      <ul class="striped">
        {% for b in user.books %}
          <li>
            {{ b.given_name[0] }}.{{ b.mid_name[0] }}. {{ b.fam_name }}. <cite>{{ b.title }}</cite>. {{ b.city }}, {{ b.state }}: {{ b.publisher }}.
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- { endif } -->

  <div id="my-pubs-cred-child2" class="inner-child">
      <h2 class="inner-span">book reviews</h2>
      <div id="reviews-pubs-child">
        <ul class="striped">
          <li>
            Lindgren, Chris. (2013). BASIC coding cultures. [Review of the book <em>10 PRINT CHR$(205.5+RND(1)); : GOTO 10</em>, by N. Montfort, P. Baudoin, J. Bell, I. Bogost, J. Douglass, M. C. Marino, M. Mateas, C. Raes, M. Sample, &amp; N. Vawter]. <cite>Enculturation, 16</cite>. Go to <a href="http://enculturation.gmu.edu/10-print" target="_blank">http://enculturation.gmu.edu/10-print</a>.
        </ul>
      </div>
  </div>
  <div id="my-pubs-cred-child3" class="inner-child">
      <h2 class="inner-span">publications in progress</h2>
      <div id="in-process-pubs-child">
        <ul class="striped">
          <li>
            Brooks, Kevin &amp; Chris Lindgren. (2015). Responding to the coding crisis: From 'Code Year' to Code Decade. Lynn C. Lewis, (Ed.). <cite>Strategic Discourse: The Politics of (New) Literacy Crises</cite>. Computers and Composition Digital Press. <a href="http://ccdigitalpress.org/strategic/chapters/brookslindgren/index.html" target="_blank">http://ccdigitalpress.org/strategic/chapters/brookslindgren/index.html</a>.
          <li>
        </ul>
      </div>
  </div>

{% endif %}